#footer {
    text-align: right;
    font-size: 12px;
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.toolbarBtn {
    border: solid 1px #000000;
    background-color: floralWhite;
}
#cmdBtns {
    padding-left: 2px;
    padding-top: 2px;
}
.partsList {
    position: absolute;
    min-width: 200px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.partsList_thumbnail {
    margin-left: 10px;
    flex: 0 1 calc(50% - 10px);
}
.partsList_thumbnail:nth-child(n + 3) {
    margin-top: 10px;
}
.partsList img {  
    width: 100%;  
    display: block;
}
#cmdDlg {
    position: absolute;
    top: 60px;
    left: 20px;
}
#instruction {
    position: absolute;
}
#tree1 {
    position: absolute;
    width: 200px;
    overflow: auto;
}
#loadingImage{
    position: absolute;
}
#popupInput{
    position: absolute;
}